.query
	margin 0 auto
	text-align center
	width 80%
	
	#search
		box-sizing border-box
		padding .5em
		width 70%
		
	.send
		background rosa
		border none
		border-radius 50%
		height 40px
		margin 0 0 0 .8em
		padding .5em
		width 40px
		
		