.flex
	align-items center
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between

.header
	padding .8em
	background #FFFFFF
	
	&-title
		> h1
			color azul
			font-size 1em
			letter-spacing .2em
			text-transform uppercase
			

	&-logo		
	&-logo-github
		&:hover
			transition .5s
			transform rotateY(360deg)