@import 'nib'
@import 'normalize'
@import 'fonts'

rosa = #EA2E49
azul = #1c3643

a
	text-decoration none

ul
figure
h1
h2
	padding 0
	margin 0

ul
	list-style none

body
	font-size 16px
	font-family 'Roboto', sans-serif
	

.home
	background-image url('./images/background.jpg')
	background-size cover
	background-position center
	min-height 100vh

.wrapper
	max-width 1000px
	margin 0 auto
	
@import 'header'
@import 'form'
@import 'videos'
@import 'reproductive'
@import 'footer'