.video
	height 0
	overflow hidden
	padding-bottom 56.25%
	position relative

	> iframe
		height 100%
		left 0
		position absolute
		top 0
		width 100%

.containerDataVideo
	padding 0 15px

	&-containerTitle
		&-title
			color gris
			padding .8em 0

	&-containerTimePublish
		color gris
		font-weight bold
		&-time
			color rosa

	&-containerDescription
		&-description
			color gris

@media (min-width: 800px)
	.containerDataVideo
		padding 0
